@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color:#333;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between; 
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  display: flex;
  gap: 16px;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  border-bottom: 1px solid #fafafa;
  padding: 10px 16px;
  margin: 20px 0;
}

.blog-preview:hover {
  box-shadow: 1px 3px 3px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  color: #f1356d;
  margin-bottom: 8px;
  font-size: 20px;
}

.blog-preview a {
  text-decoration: none;
  color: #333;
}

/* Blog Details Styles */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

/* Create a new blog form */
.create {
  max-width: 400px;
  margin: 0px auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.create button {
  background: #f1356d;
  color: white;
  border: 0;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}