@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@layer base {
  html {
    font-family: 'Quicksand', sans-serif;
  }
}

/* Using Tailwind classes directly in components */


.content {
  @apply max-w-[1200px] mx-auto;
}

.blog-preview {
  @apply bg-gray-400 rounded-[8px];
  border-bottom: 1px solid #fafafa;
  padding: 10px 16px;
  margin: 20px 0;
}

.blog-preview:hover {
  box-shadow: 1px 3px 3px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  @apply font-bold text-gray-100;
  margin-bottom: 8px;
  font-size: 20px;
}

.blog-preview a {
  text-decoration: none;
  color: #333;
}

/* Blog Details Styles */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

/* Create a new blog form */
.create {
  max-width: 400px;
  margin: 0px auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.create button {
  background: #f1356d;
  color: white;
  border: 0;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
